body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: underline;

   
}

#nav{
    display: grid;
   grid-template-columns: 2fr 2fr 2fr;
   /* margin: 2rem auto; */
   grid-gap: 2rem;
   border: 3px solid #dd7732;
   align-items: center;
   justify-items: center;
   font-size: 2rem;
   color: white;
}

.logo img{
    display: block;
    max-height: 10%;
    max-width: 50%;
}

.menu ul{
    display: flex;
    /* position: relative; */
    /* margin: auto; */
    padding: 10px 10px;
    

   
}
.menu-items{
    list-style-type: none;
    background-color: orange !important;
    /* margin: auto; */
}
.menu-items:hover{
   text-decoration:underline;
    /* margin: auto; */
}
.menu-items:visited{
    text-decoration: underline;
    color: rgb(202, 202, 124);
}

.menu-items a{
    text-decoration: none;
    color: black;
    
    
    /* margin: auto; */
    
    margin-right: 3rem;
}
.social{
    display: flex;
   
}
.social img{
    display: block;
    margin-right: 2rem;
    height: 1.5rem;
    /* margin: auto; */
    
}










#section{
    display: block;
    border: solid 2px black;
    background-color: black;
    margin: auto 2rem;
    /* background-color: rgb(211, 150, 37); */
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#body{
    border: solid 2px black;
    margin: 2rem auto;
    width: 70%;
    /* background-color: black; */
    color: black;
    border-radius: 25px;
    font-size: larger;
    font-weight: bolder;
  
}
.body-items{
    margin: 2rem ;
}

p{
    /* border: solid 5px rgb(236, 179, 73); */
}
img{
    display: block;
    margin: auto;
    
}


.social{
    display: flex;
    border: solid  5px rgb(224, 165, 54) ;
    width: 50%;
    margin: auto;
}
.social a{
    margin: auto auto;
}
.social img{
   height: 2rem;
   width: 2rem;
}